<footer>
    <p>
        © 2020 smile | | 个人小站. Powered by 
        <a href="http://smile6666.com/" target="_blank">
            smile
        </a> 
    </p>
    <a href="http://www.beian.miit.gov.cn/" target="_blank"><%= website.beian %> </a>
  </footer>
  <script>
    function formDate(date) {
      date = new Date(date)
      let y = date.getFullYear();
      let m = date.getMonth() + 1;
      m = m < 10 ? ('0' + m) : m;
      let d = date.getDate();
      d = d < 10 ? ('0' + d) : d;
      let h = date.getHours();
      h=h < 10 ? ('0' + h) : h;
      let minute = date.getMinutes();
      minute = minute < 10 ? ('0' + minute) : minute;
      let second=date.getSeconds();
      second=second < 10 ? ('0' + second) : second;
      return y + '-' + m + '-' + d+' '+h+':'+minute+':'+second;
    }
    $('.time').each(function(){
      $(this).html(formDate($(this).html()))
    })
  </script>
  </body>
  </html>
  