<%- include('header.html')  -%> 
<script src="js/scrollReveal.js"></script>
<article>
  <div class="probox">
      <ul>
        <% projects.forEach(project => { %>
          <li>
            <a href="<%= project.linkUrl %>">
                <img src="<%= project.photoUrl %>" alt="">
                <div class="info">
                  <h3><%= project.title %></h3>
                  <p title="<%= project.content %>"><%= project.content %></p>
                </div>
            </a>
        </li>
        <% }) %>
      </ul>
  </div>
</article>
<script>
    //<li class="hidden"></li>
    console.log($(".probox ul li").length)
    console.log($(".probox ul li").length)
    console.log($(".probox").outerWidth(true))
    if($(".probox ul li").length%3==1&&$(".probox").outerWidth(true)>800){
        $(".probox ul").append(`<li class="hidden"></li>`)
        $(".probox ul").append(`<li class="hidden"></li>`)
    } else if($(".probox ul li").length%3==2&&$(".probox").outerWidth(true)>800) {
        $(".probox ul").append(`<li class="hidden"></li>`)
    }
</script>
<%- include('footer.html')  -%> 