@charset "gb2312";
.infosbox { float: right; width: 68%; overflow: hidden; background: rgba(255,255,255,0.8);}
.newsview { padding: 0 30px }
.intitle { line-height: 40px; height: 40px; font-size: 14px; ; border-bottom: #000 2px solid; }
.intitle a { font-weight: normal; }
.news_title { font-size: 24px; font-weight: normal; padding: 20px 0; color: #333; }
.bloginfo{ width:100%; overflow:hidden}
.bloginfo li{ float:left; margin-right:20px}
.news_about { color: #888888; border: 1px solid #F3F3F3; padding: 10px; margin: 20px auto 15px auto; line-height: 23px; background: none repeat 0 0 #F6F6F6; }
.news_about strong { color: #38485A; font-weight: 400 !important; font-size: 13px; padding-right: 8px; }
.news_content { line-height: 20px; font-size: 14px; }
.news_content p { overflow: hidden; padding-bottom: 4px; padding-top: 6px; word-wrap: break-word; }
.tags a { background: #F4650E; padding: 3px 8px; margin: 0 5px 0 0; color: #fff; }
.tags { margin: 10px 0; }
.infosbox img { max-width: 650px; height: auto; width:100% }
.share { padding: 20px; }
.nextinfo { line-height: 24px; width: 100%; overflow: hidden; margin: 20px 0 }/*��һƪ��һƪ*/
.nextinfo p { padding: 4px 10px; border-radius: 5px; }
.nextinfo a:hover { color: #000; text-decoration: underline }
/*��������*/
.news_pl { margin: 10px 0; width: 100%;  overflow: hidden;  }
.news_pl h2 { border-bottom: #000 2px solid; line-height: 40px; font-size: 14px; padding-left: 10px; color: #000 }
.diggit {  width: 160px; margin: auto; background: #E2523A; color: #fff; box-shadow: 1px 2px 6px 0px rgba(0,0,0,.2); border-radius: 3px; line-height: 40px; text-align: center; }
.diggit a { color: #fff; }
#diggnum { margin: 5px; }
.guanzhu{ top:10px;}

/*add*/
.timer {font-size: 15px !important;}
.news_content h2,.news_content h3,.news_content h4 {margin-top: 8px;padding-left: 8px;}
.news_content h2 {font-size: 1.6em;line-height: 1.9em;background-color: #EBEDEF;}
.news_content h3 {font-size: 1.4em;line-height: 1.7em;}
.news_content h4 {font-size: 1.2em;line-height: 1.6em;}
.news_content ul ,ol{padding-left: 2em;margin-top: 5px;}
.news_content ul li{list-style-type: circle; overflow: visible;}
.news_content ol li{list-style-type: decimal; overflow: visible;}
.news_content blockquote {margin-top: 1em; background-color: #eaeeee;}
.news_content blockquote p {padding: 0 1.5em 1em 1.5em;}

.news_content code {margin: 0 0.2em;padding: 0 0.2em;word-break: normal;word-wrap: break-word;background-color: rgb(233, 224, 235);}

.news_content a{color: rgb(101, 144, 187); margin:0 0.1em; padding:0 0.2em; background-color: #f5eded;}
.news_content a:hover{color: rgb(240, 191, 191); background-color: #e5eef0}
.news_content blockquote p:nth-of-type(1) {padding-top: 1em;}
.table table{width:100%; margin-top: 1.5em; text-align: center;border-collapse:collapse;line-height: 30px;}
.table table td, .table table th {border: 3px solid #EBEBEF;}
.infosbox .vip-info {
    position: fixed;
    left: 10px;
    bottom: 30px;
    width: 300px;
    text-align: center;
    background-color: rgb(169, 227, 230);
}
.infosbox .vip-info .vip-time {
    color: rgb(223, 90, 57);
}
.infosbox .vip-info .vip-times {
    color: rgb(223, 79, 223);
}

.infosbox .vip {
    -moz-user-select: none; /*火狐*/ 
    -webkit-user-select: none; /*webkit浏览器*/ 
    -ms-user-select: none; /*IE10*/ 
    -khtml-user-select: none; /*早期浏览器*/ 
    user-select: none; 
}
